body{
    font-family:sans-serif ;
}

div{
    text-align: center;
}

img{
    width: 1080px;
    height: 1044px;
}

.wrap{
    background-color: #e3e3e3;
    width: 1200px;
    margin: auto;
    font: bold;
   
}


